---
---

@font-face {
  font-family: 'EnglishAdjust';
  /* 英字用のフォントだけを指定 */
  src: local('Helvetica'), local('Arial');
  /* 英字だけを大きくする */
  size-adjust: 120%;
}

body {
  /* 最初に英字の設定を置き、その後に何も書かない */
  /* こうすると、日本語はブラウザが自動で選ぶ「いつものフォント」になります */
  font-family: 'EnglishAdjust';
}
