
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<title>Je'm | Lyrics</title>

<meta name="description"
content="Lyrics and songs by Je'm. Part of OHLUCINDA.">

<meta property="og:title"
content="Je'm | Lyrics">

<meta property="og:description"
content="If this is only dreaming, I don't want to sleep.">

<meta property="og:type"
content="website">

<meta property="og:url"
content="https://lyrics.ohlucinda.com">

<meta property="og:image"
content="https://lyrics.ohlucinda.com/Je'm-og-b.jpg">

<link rel="icon" href="/favicon.ico">

<link rel="apple-touch-icon"
href="/apple-touch-icon.png">

<link rel="alternate"
type="application/rss+xml"
title="Je'm Lyrics"
href="/feed.xml">

<link rel="stylesheet"
href="https://use.typekit.net/qsa5fag.css">

</head>
<body>
  
{{ content }}

 <div class="back">

  <a href="{{ '/' | relative_url }}">TO HOME</a>

</div>
<style>
body {
  margin: 0;
  padding: 0;
}

/* 背景 */
.bg {
  position: fixed;
  top: -200px;
  left: 0;
  width: 100%;
  height: calc(100% + 200px);
  object-fit: cover;
}

a:hover {
  color: #888;
}

.back {
  position: fixed;
  bottom: 60px;
  right: 100px;
}

.back a {
  font-size: 14px;
}
  
</style>
</body>
</html>
